<!doctype html>
<html lang="en">
 <head> 
  <title>Job Postings</title> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
 </head> 
 <body> 
  <table> 
   <tbody> 
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
    </tr>       
    <tr class="vacancy"> 
     <td class="title"><a href="/rc/clk?jk=00d33119600e5272&amp;fccid=4c58f1f52a144526&amp;vjs=3">Data Services Application Analyst (21-22)</a></td> 
     <td class="city">Midland, TX</td> 
     <td class="companyName">IDEA Public Schools</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/rc/clk?jk=cbe7526a14570d96&amp;fccid=bae2868a58930033&amp;vjs=3">IoT Automation Programmer</a></td> 
     <td class="city">Midland, TX 79703</td> 
     <td class="companyName">Henry Pump</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/rc/clk?jk=f2ae3c1faa65fa13&amp;fccid=228d14c4a93465c6&amp;vjs=3">Field Automation Programmer</a></td> 
     <td class="city">Midland, TX 79705</td> 
     <td class="companyName">Henry Petroleum</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="/rc/clk?jk=eb739f22ecf51f2a&amp;fccid=bae2868a58930033&amp;vjs=3">Field Automation Programmer</a></td> 
     <td class="city">Midland, TX 79703</td> 
     <td class="companyName">Henry Pump</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>